.container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.playbackButtonsList {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.statsContainer {
  display: flex;
  gap: 10px;
}

.statItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  border: 1px solid white;
  border-radius: 12px;
}

.statItemLabel {
  font-size: 12px;
  text-transform: uppercase;
}

.accuracyStatItem {
  flex-grow: 1;
}

.barContainer {
  height: 10px;
  width: 100%;
  border-radius: 5px;
  background: #1a1a1a;
}

.bar {
  height: 10px;
  max-width: 100%;
  border-radius: 5px;
  background: linear-gradient(90deg, var(--error-red), var(--warning-orange), var(--success-green));
}

.controllersSection {
  max-width: 310px;
  align-self: center;
}

.controllersLists {
  display: flex;
  flex-direction: column;
}

.controllersListItem {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.commandsListWrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-self: stretch;
}

.commandsList {
  position: relative;
  align-self: center;
  width: 310px;
  height: 20px;
  overflow: hidden;
  justify-content: end;
  mask-image: linear-gradient(90deg, rgba(0, 0, 0, 0) 0px, rgba(0, 0, 0, 1) 80px);
}

.commandsList:before {
  content: ' ';
  position: absolute;
  inset-inline-start: 0;
  height: 20px;
  width: 20px;
}
